main {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    box-sizing: border-box;
    flex: 1;
}

#main-content {
    max-width: 1100px;
    width: 1100px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
}

#restaurant {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#banner {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 30px;
    box-shadow: 0px 10px 10px -5px #0e0e0e9c;
}

#restaurant-title {
    padding: 15px 15px 15px 15px;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.details-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 15px;
    gap: 5px;
}

.details-row div {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.details-row div {
    font-size: 14px;
}

.details-row img {
    width: 16px;
    height: 16px;
}

#restaurant-address {
    padding: 15px 100px 15px 15px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#categories-slider {
    overflow-x: hidden;
    position: sticky;
    top: -1px;
}

.scrolled {
    background: white;
    box-shadow: 0px 0px 5px #0e0e0e74;
    border-radius: 30px;
    padding: 5px;
}

#categories-slider > div {
    display: flex;
    gap: 10px;
    padding: 5px;
}

.category-btn {
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    user-select: none;
    transition: box-shadow 0.2s;
}

.category-btn:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px #0e0e0e74;
}

.category-selected {
    background: white;
    box-shadow: 0px 0px 5px #0e0e0e74;
}

#products {
    margin-top: 10px;
    padding: 15px;
}

.category-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.category-container > span {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    margin-left: 30px;
    margin-top: 20px;
}

#bag {
    padding: 20px;
}

@media (max-width: 700px) {
    #banner {
        border-radius: 0px;
    }

    #products {
        padding: 0px;
    }
}

@media (max-width: 900px) {
    #bag {
        background: white;
        position: fixed;
        top: var(--nav-height);
        right: 0;
        height: 100%;
        padding: 20px 30px 0 0;
        width: 350px;
        z-index: 99;
    }

    #main-content {
        max-width: 800px;
        width: 800px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #bag.notactive {
        right: -380px;
        transition: right 0.3s ease;
    }

    #bag.active {
        right: 0;
        transition: right 0.3s ease;
    }
}