main {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    box-sizing: border-box;
    flex: 1;
}

#main-content {
    max-width: 800px;
    width: 800px;
    flex: 1;
}

#search-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#top-bar {
    height: 60px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-bar-container {
    width: 50%;
    height: 50px;
}

#sort-container {
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#sort-container > .dropdown {
    height: 100%;
}

#address-input-container {
    padding: 15px;
    width: 90%;
}

#restaurants-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

x-restaurant-card {
    width: calc(100% - 20px);
}

#progress-indicator-container {
    position: relative;
    width: 100%;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#not-found-container {
    margin: 75px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#not-found-container > img {
    width: 150px;
    height: 150px;
}

#not-found-container > h2 {
    font-size: 24px;
    color: var(--text-color);
    text-align: center;
    font-weight: 500;
    font-family: Poppins, sans-serif;
}

@media screen and (max-width: 1100px) {
    #filters-section {
        display: none;
    }

    #main-content {
        grid-template-columns: 1fr;
    }
}
