main {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    box-sizing: border-box;
    flex: 1;
}

#main-content {
    max-width: 1300px;
    width: 1300px;
    flex: 1;
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-template-rows: 1fr;
}

#filters-section {
    margin-top: 80px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 15px 15px 0 15px;
}

#filters-section > h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 100%;
}

.filter {
    width: 100%;
    height: 30px;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#search-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#top-bar {
    height: 60px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search-bar-container {
    width: 50%;
    height: 50px;
}

#sort-container {
    height: 50px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

#sort-container > .dropdown {
    height: 100%;
}

#address-bar {
    width: 100%;
    height: 40px;
}

#address-bar > div {
    background-color: var(--border-color);
    border-radius: 30px;

    width: calc(100% - 20px);
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#address-bar > div > img {
    width: 16px;
    height: 16px;
    margin-left: 15px;
}

#address-bar > div > span {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

#restaurants-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

x-restaurant-card {
    width: calc(100% - 20px);
}

@media screen and (max-width: 1100px) {
    #filters-section {
        display: none;
    }

    #main-content {
        grid-template-columns: 1fr;
    }
}
